@import '../variables.scss';

.sidebar {
  width: var(--nav-width);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  // transition: width 0.6s cubic-bezier(0.61,-0.19, 0.7,-0.11);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  transition: width 0.6s ease-in-out;
  background: linear-gradient(315.16deg, #7873f5 0%, #ec77ab 100%);
  & .sidenavOuter {
    background: transparent;
    position: absolute;
    top: 70px;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-x: hidden;
    overflow-y: auto;
    & .sidemenuListTab {
      background: transparent;
      line-height: 30px;
      height: 80px;
      // padding-left: 20px;

      // text-align: center;
      & .icon-div {
        padding-left: 20px;
      }
      & .topnavImgLeft {
        display: inline-block !important;
        width: 15px;
        margin-bottom: 2px;
        margin-left: 12px;
        margin-right: 10px;
      }
      & .sidemenuListAddIcon {
        float: right;
        margin-top: 8px;
        margin-right: 8px;
      }
      & .sidebar-icon {
        margin-top: 15px;
      }
      & .sidebar-ex-view {
        visibility:hidden;
        opacity:0;
        // transition:visibility 0.1s linear,opacity 0.1s linear;
        font-size: 18px;
        font-weight: 500;
      }
      & .sidebar-ex-visible {
         visibility:visible;
         opacity:1;
        transition:visibility 0.3s linear 0.5s,opacity 0.3s linear;
        margin-left: 18px;
        color: #fff;
        font-size: 18px;
        font-weight: 500;
      }
    }
    & :global(ul) {
      padding: 0;
      margin: 0;
      & :global(li) {
        & :global(a) {
          display: block;
          padding: 7px 10px 10px ;
          color: #fff;
          text-decoration: none;

          & :global(span:nth-child(2)) {
            color: #ecf6fc;
            font-size: 11.5px;
            font-weight: 300;
          }
          &:hover {
            background: #fff;
            & .sidebar-icon {
              color: #8858FF;
            }
            & .sidebar-ex-view {
              color: #8858FF;
            }
            & .sidebar-ex-visible {
              color: #8858FF;
            }
          }
        }
      }
    }
  }
}

.sidebar-large {
  width: 230px;
 transition: width 0.6s ease-in-out;
}
@media screen and (max-width: 768px) {
  .sidebar {
    left:- var(--nav-width);
  }
  .push-right {
    &.sidebar {
      left:0
  }
  }
}
